@charset "UTF-8";

/* ######
   Fontes
############ */

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
		 url('../fonts/OpenSans-Light.woff') format('woff'),
		 url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
		 url('../fonts/OpenSans-Regular.woff') format('woff'),
		 url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
		 url('../fonts/Raleway-SemiBold.woff') format('woff'),
		 url('../fonts/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
		 url('../fonts/Raleway-Bold.woff') format('woff'),
		 url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

/* ######
   Variáveis
############ */

/* Cores */

$cinza: #F6F6F6;
$cinzaMedio: #D7D7D7;
$azul: #0F75BD;
$azulSuave: #105F97;
$azulMedio: #22313F;
$azulEscuro: #1A2530;
$amarelo: #F9BF3B;

/* Fontes */

$openSans: 'Open Sans';
$raleway: 'Raleway';

/* ######
   Mixins
############ */

/* Responsivo */

@mixin device($device) {
	@if $device == 'xl' {
		@media (max-width: 1399px) {
			@content;
		}
	} @else if $device == 'lg' {
		@media (max-width: 1199px) {
			@content;
		}
	} @else if $device == 'md' {
		@media (max-width: 991px) {
			@content;
		}
	} @else if $device == 'sm' {
		@media (max-width: 767px) {
			@content;
		}
	} @else if $device == 'xs' {
		@media (max-width: 575px) {
			@content;
		}
	}
}

/* Texto */

@mixin texto($modelo) {
	@if $modelo == 'texto' {
		color: $azulEscuro;
		font-size: 14px;
		font-weight: normal;
		font-family: $openSans;
		line-height: 140%;
		margin: 0 0 15px;
	} @else if $modelo == 'titulo' {
		color: $azulEscuro;
		font-size: 24px;
		font-weight: 600;
		font-family: $raleway;
		line-height: 140%;
		letter-spacing: 0.025em;
		text-align: center;
		text-transform: uppercase;
		padding: 30px 0 0;
		background: url('../images/icons/titulo.png') no-repeat top center;
	}
}

/* Botões */

@mixin botao {
	color: $azulEscuro;
	font-size: 20px;
	font-weight: 600;
	font-family: $raleway;
	line-height: 100%;
	display: inline-block;
	padding: 25px 80px;
	transition: .3s;
	background: $amarelo;
	&:hover {
		color: $amarelo;
		background: $azulEscuro;
	}
}